head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: black;
  color: white;

.derecha {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 30px;
}

.izquierda {
  font-size: 20px;
  font-weight: bold;
}

  
